<div class="bg-blue-600 text-white py-2">
  <div class="max-w-3xl mx-auto px-4 text-center">
    <p>
      Want to master ice cream making? 
      <a 
        href="https://www.udemy.com/course/homemade-ice-cream-for-beginners/?referralCode=B0144FCC452769AA6EF0" 
        target="_blank" 
        rel="noopener noreferrer"
        class="underline hover:text-blue-100 transition-colors"
      >
        Check out my Udemy course
      </a>
    </p>
  </div>
</div> 